.table-wrapper {
    position: relative;
    overflow: auto;
    width: 100%;
    max-height: 100%;
    background:
    -webkit-linear-gradient(to right, white 30%, rgba(255,255,255,0)),
    -webkit-linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
    -webkit-radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.4), rgba(0,0,0,0)),
    -webkit-radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
    -moz-linear-gradient(to right, white 30%, rgba(255,255,255,0)),
    -moz-linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
    -moz-radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.4), rgba(0,0,0,0)),
    -moz-radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
    -o-linear-gradient(to right, white 30%, rgba(255,255,255,0)),
    -o-linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
    -o-radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.4), rgba(0,0,0,0)),
    -o-radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
    linear-gradient(to right, white 30%, rgba(255,255,255,0)),
    linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.4), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;
}

table {
    width: 100%;
}

thead {
    
}

tbody {
    
}

tbody tr:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

tr {
    border-bottom: 1px solid;
    cursor: pointer;
    background-color: #eee;
    --animation-name: fade-in;
    --animation-duration: 375ms;
}

tr.highlighted {
    background-color: #ff0000;
}

th,
td {
    text-align: left;
    padding: 0.5em 1em;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

th {
    background-color: #555;
    color: #fff;
}

th .column-name-wrapper {
    flex: 1;
    text-align: center;
}

th h1 {
    font-size: 120%;
}

th > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

td {
    text-align: center;
}