{% extends 'add_update_separately/layout.html' %}

{% block styles %}

    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/general/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/general/buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/general/links.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/anim/slide-in-top.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/anim/slide-out-top.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/singleton-elements/close.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/singleton-elements/popup/popup.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/table/table.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/form/css/form-base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/form/css/text-form-controls.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('add_update_separately/form/css/checkable-form-controls.css') }}">

    <style>

        

    </style>

{% endblock %}

{% block templates %}

    {{ super() }}

    <template id="popup-template">
        <div id="popup" class="popup top animatable">
            <div class="popup-content">
                <div class="content"></div>
                <button type="button" class="cancel" onclick="popup.removeInstance()"></button>
            </div>            
        </div>
    </template>

{% endblock %}

{% block main %}

    {{ super() }}

    <button onclick="startAdd()">Add</button>

    <table>
        <thead>

            <tr>
                {% for column in table.columns %}
                    <th>
                        <h1> {{ column.display_name }} </h1>
                        {% if 'filterable' in column.options %}
                            {% if 'filterable' in column.options and 'categorical' in column.options %}
                                <button id="{{ column.value }}" class="filter-button" onclick="filterColumnCategorical(event)">F</button>
                            {% elif 'filterable' in column.options and 'range' in column.options %}
                                <button id="{{ column.value }}" class="filter-button" onclick="filterColumnCategorical(event)">F</button>
                            {% endif %}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>

        </thead>

        <tbody>

            {% for row in table.rows %}
                <tr id="{{ row.id }}" class="{% if 'highlighted' in row.options %} highlighted {% endif %}">
                    {% for cell in row.cells %}
                        <td>
                            {% if 'action' in cell.options %}
                                <button> {{ cell.value }} </button>
                            {% else %}
                                <p> {{ cell.value }} </p>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </tbody>

    </table>

{% endblock %}

{% block scripts %}

    {{ super() }}

    <script type="text/javascript" src="{{ static('add_update_separately/utils/create-element-from-template.js') }}"></script>
    
    <script type="text/javascript" src="{{ static('add_update_separately/cookies/cookies.js') }}"></script>

    <script type="text/javascript" src="{{ static('add_update_separately/singleton-elements/singleton/singleton.js') }}"></script>
    <script type="text/javascript" src="{{ static('add_update_separately/singleton-elements/singleton_element/singleton-element.js') }}"></script>
    <script type="text/javascript" src="{{ static('add_update_separately/singleton-elements/singleton_element_with_dynamic_content/singleton-element-with-dynamic-content.js') }}"></script>
    <script type="text/javascript" src="{{ static('add_update_separately/singleton-elements/popup/popup.js') }}"></script>

    <script>

        Array.from(
            document.querySelectorAll('tr')
        ).forEach(item => {
            item.addEventListener('click', onRowClicked);
        });

        function onRowClicked(ev) {
            var id = ev.target.closest('tr').id;

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var content = popup.instance.querySelector('.content');
                    content.innerHTML = this.responseText;

                    var form = content.querySelector('form');
                    form.action = `update-form/${id}`;
                    form.addEventListener('submit', onAddUpdateFormSubmit, false);
                    
                    const isSuccesful = JSON.parse(content.querySelector('#form-status').textContent)['successful'];

                    if (isSuccesful) {
                        popup.removeInstance();
                    } else {
                        popup.appendInstance();
                    }
                }
            }
            xhr.open('GET', `update-form/${id}`);
            xhr.send();
        }

        function startAdd() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var content = popup.instance.querySelector('.content');
                    content.innerHTML = this.responseText;

                    var form = content.querySelector('form');
                    form.action = 'add-form/';
                    form.addEventListener('submit', onAddUpdateFormSubmit, false);
                    
                    const isSuccesful = JSON.parse(content.querySelector('#form-status').textContent)['successful'];

                    if (isSuccesful) {
                        popup.removeInstance();
                    } else {
                        popup.appendInstance();
                    }
                }
            }
            xhr.open('GET', `add-form/`);
            xhr.send();
        }

        function onAddUpdateFormSubmit(ev) {
            ev.preventDefault();

            const form = ev.target;

            const formData = new FormData(form);
            
            const url = form.action;
            const method = form.method;

            const csrftoken = Cookies.getCookie('csrftoken');
            const headers = {
                'X-CSRFToken': csrftoken,
                'X-Requested-With': 'XMLHttpRequest'
            }

            fetch(
                url,
                {
                    method: method,
                    body: formData,
                    headers: headers
                }
            )
            .then(response => {
                return response.text();
            })
            .then(x => {
                onResponseAvailable(x);
            })
            .catch(e => {
                onFailedResponse(e);
            });
        }

        function onResponseAvailable(r) {
            var content = popup.instance.querySelector('.content');
            content.innerHTML = r;

            var form = content.querySelector('form');
            form.addEventListener('submit', onAddUpdateFormSubmit, false);
            
            const isSuccesful = JSON.parse(content.querySelector('#form-status').textContent)['successful'];

            if (isSuccesful) {
                popup.removeInstance();
            } else {
                popup.appendInstance();
            }
        }

        function onFailedResponse(e) {
            console.error(e);
        }

    </script>

    <script>

        function filterColumnCategorical(ev) {

        }


        function filterColumnRange(ev) {

        }

    </script>

{% endblock %}