.slide-in-bottom {
    --animation-name: slide-in-bottom;
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-moz-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-o-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-ms-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}