.cancel {
    --cancel-size: 2.5rem;
    position: absolute;
    top: var(--cancel-top);
    right: var(--cancel-right);
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    width: var(--cancel-size);
    height: var(--cancel-size);
}

.cancel::before {
    color: #ff0000;
    font-size: calc(var(--cancel-size) - 0.5rem);
    font-weight: 900;
    content: '\d7';
}