.slide-out-left {
    --animation-name: slide-out-left;
}

@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-moz-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-o-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-ms-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
        -ms-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}