<form id="add-update-form" method="POST" action=''>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    
    {% for field in form %}

        <div class="input-field">
            {{ field.label_tag }}
            <div class="input-container">

                {{ field }}
                
            </div>

            {% if field.help_text %}
                <p class="helptext">{{ field.help_text|safe }}</p>
            {% endif %}

            {{ field.errors }}

        </div>
            
    {% endfor %}

    {{ form.non_field_errors }}

    <button type="submit">OK</button>

</form>