{% extends 'class_based_view_without_custom_manager/layout.html' %}

{% block styles %}

    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/general/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/general/buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/general/links.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/anim/fade-in.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/anim/slide-in-top.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/anim/slide-out-top.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/singleton-elements/cancel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/singleton-elements/popup/popup.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/table/table.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/form/css/form-base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/form/css/text-form-controls.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/form/css/checkable-form-controls.css') }}">

    <style>



    </style>

{% endblock %}

{% block templates %}

    {{ super() }}

    <template id="popup-template">
        <div id="popup" class="popup top animatable">
            <div class="popup-content">
                <header class="cancel-container">
                    <button type="button" class="cancel" onclick="popup.removeInstance()"></button>
                </header>
                <main class="content"></main>
            </div>            
        </div>
    </template>

{% endblock %}

{% block main %}

    {{ super() }}

    <div id="table-container">


        
    </div>

{% endblock %}

{% block scripts %}

    {{ super() }}

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/utils/create-element-from-template.js') }}"></script>
    
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/cookies/cookies.js') }}"></script>

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/request-utils/parse-url-string.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/request-utils/request-utils.js') }}"></script>

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/singleton-elements/singleton/singleton.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/singleton-elements/singleton_element/singleton-element.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/singleton-elements/singleton_element_with_dynamic_content/singleton-element-with-dynamic-content.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/singleton-elements/popup/popup.js') }}"></script>

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/form/js/select-all-checkboxes.js') }}"></script>

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/windows/query-string-state.js') }}"></script>


    <script id="starter-scripts">

        window.addEventListener('load', requestTable, false);

        function requestTable() {
            console.log('requestTable');

            var headers = {  };
            RequestUtils.send(
                'get',
                'table/',
                headers,
                null,
                onResponseAvailable,
                onResponseFailed
            );
        }

    </script>


    <script id="windows-scripts">

        var queryStringState = new QueryStringState();

        var switchboard = {
            table: onWindowResponseAvailable
        }

        /**/

        function onResponseAvailable(responseText) {
            console.log('onResponseAvailable');

            var response = JSON.parse(responseText);

            var id = response['id'];
            // can't use this if it's called from a fetch promise...
            // TODO: return instances of this class from a static method (?)
            var handler = switchboard[id];
            var data = response['data'];

            handler(data);
        }

        function onResponseFailed(response) {
            console.log(response);
        }

        /**/

        function onWindowResponseAvailable(response) {
            console.log('response');
            /*
            Response is in the following format:

                {
                    "request_get": "...",
                    "is_successful": 0/1,
                    "response_text": "..."
                }

            */

            var requestGET = response['request_get'];
            var isSuccessful = response['is_successful'];
            var responseText = response['response_text'];

            if (isSuccessful) {
                onTableResponse(requestGET, responseText);
            } else {
                onFormResponse(responseText);
            }
        }

        function onTableResponse(requestGET, responseText) {
            console.log('table response');

            if(popup.isAppended) popup.removeInstance();

            var elem = document.querySelector('#table-container');
            elem.innerHTML = responseText;

            queryStringState.state = requestGET;
        }

        function onFormResponse(responseText) {
            console.log('form response');

            var elem = popup.instance.querySelector('.content');
            elem.innerHTML = responseText;

            popup.appendInstance();

            var headers = {  }

            var form = elem.querySelector('form');

            if (form.method.toLowerCase() === 'post') {
                var csrftoken = Cookies.getCookie('csrftoken');
                headers = {
                    'X-CSRFToken': csrftoken,
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }

            form.addEventListener('submit', ev => {
                form.action = queryStringState.attachState(form.action);
                RequestUtils.ajaxFormSubmit(
                    ev,
                    headers,
                    onResponseAvailable,
                    onResponseFailed
                );
            }, false);
        }


        function startAdd() {
            var headers = {  };
            RequestUtils.send(
                'get',
                `add/`,
                headers,
                null,
                onResponseAvailable,
                onResponseFailed
            );
        }

        function startUpdate(ev) {
            var id = ev.target.closest('tr').id;
            var headers = {  };
            RequestUtils.send(
                'get',
                `update/${id}`,
                headers,
                null,
                onResponseAvailable,
                onResponseFailed
            );
        }

        function filterColumnCategorical(ev) {
            var id = ev.target.id;
            var headers = {  };
            RequestUtils.send(
                'get',
                queryStringState.attachState(`filter-categorical-entrypoint/Model2/${id}`),
                headers,
                null,
                onResponseAvailable,
                onResponseFailed
            );
        }

        function filterColumnRangeNumber(ev) {
            var id = ev.target.id;
            var headers = {  };
            RequestUtils.send(
                'get',
                queryStringState.attachState(`filter-range-number-entrypoint/Model2/${id}`),
                headers,
                null,
                onResponseAvailable,
                onResponseFailed
            );
        }

        function filterColumnRangeDate(ev) {
            var id = ev.target.id;
            var headers = {  };
            RequestUtils.send(
                'get',
                queryStringState.attachState(`filter-range-date-entrypoint/Model2/${id}`),
                headers,
                null,
                onResponseAvailable,
                onResponseFailed
            );
        }

        function pageTo(n) {
            var headers = {  }
            RequestUtils.send(
                'get',
                queryStringState.attachState(`table?page=${n}`),
                headers,
                null,
                onResponseAvailable,
                onResponseFailed
            );
        }

    </script>


{% endblock %}