{% extends 'class_based_view_without_custom_manager/layout.html' %}

{% block styles %}

    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/general/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/general/buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/general/links.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/anim/fade-in.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/anim/slide-in-top.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/anim/slide-out-top.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/singleton-elements/cancel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/singleton-elements/popup/popup.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/table/table.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/form/css/form-base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/form/css/text-form-controls.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('class_based_view_without_custom_manager/form/css/checkable-form-controls.css') }}">

    <style>



    </style>

{% endblock %}

{% block templates %}

    {{ super() }}

    <template id="popup-template">
        <div id="popup" class="popup top animatable">
            <div class="popup-content">
                <header class="cancel-container">
                    <button type="button" class="cancel" onclick="popup.removeInstance()"></button>
                </header>
                <main class="content"></main>
            </div>            
        </div>
    </template>

{% endblock %}

{% block main %}

    {{ super() }}

    <div id="table-container">


        
    </div>

{% endblock %}

{% block scripts %}

    {{ super() }}

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/utils/create-element-from-template.js') }}"></script>
    
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/cookies/cookies.js') }}"></script>

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/request-utils/parse-url-string.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/request-utils/request-utils.js') }}"></script>

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/singleton-elements/singleton/singleton.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/singleton-elements/singleton_element/singleton-element.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/singleton-elements/singleton_element_with_dynamic_content/singleton-element-with-dynamic-content.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/singleton-elements/popup/popup.js') }}"></script>

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/form/js/select-all-checkboxes.js') }}"></script>

    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/windows/query-string-state.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/windows/window-dispatcher.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/windows/window.js') }}"></script>
    <script type="text/javascript" src="{{ static('class_based_view_without_custom_manager/windows/table-window.js') }}"></script>


    <script id="table-request-scripts">

        window.addEventListener('load', requestTable, false);

        function requestTable() {
            var headers = {  };
            RequestUtils.send(
                'get',
                'table/',
                headers,
                null,
                windowDispatcher.onResponseAvailable,
                windowDispatcher.onResponseFailed
            );
        }

    </script>


    <script id="windows-scripts">

        var tableWindow = new TableWindow();

        var switchboard = {
            table: tableWindow.onResponseAvailable
        }

        var windowDispatcher = new WindowDispatcher(switchboard);

    </script>


{% endblock %}